@font-face {
  font-family: 'YaKai';
  src: url('./AaBianYaKai-2.ttf');
}

@font-face {
  font-family: 'LiShu';
  src: url('./HYAoDeSaiU-2.ttf');
}

@font-face {
  font-family: 'HeiTi';
  src: url('./Y-B008YeZiGongChangDanDanHei-2.ttf');
}

@font-face {
  font-family: 'CuHei';
  src: url('./SanJiLuoLiHei-Cu-2.ttf');
}
